<h1>Editing factoid</h1>

<%= render :partial => 'prefixes' %>

<% form_for(@factoid) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sentence %><br />
    <%= f.text_area :sentence %>
  </p>
  <p>
    <%= f.label :factoid_type %><br />
    <%= f.select :factoid_type, [
      'Point',
      'Town',
      'County',
      'CBSA'
    ] %>
  </p>
  <p>
    <%= f.label :count_query %><br />
    <%= f.text_area :count_query %>
  </p>
  <p>
    <%= f.label :query %><br />
    <%= f.text_area :query %>
  </p>
  <p>
    <%= f.label :source %> (HTML link)<br/>
    <%= f.text_area :source %>
  </p>
  <p>
    <%= f.label :hide %><br/>
    <%= f.check_box :hide %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @factoid %> |
<%= link_to 'Back', factoids_path %>
