<p>
  <b>Sentence:</b>
  <%=h @factoid.sentence %>
</p>

<p>
  <b>Count query:</b>
  <%=h @factoid.count_query %>
</p>

<p>
  <b>Query:</b>
  <%=h @factoid.query %>
</p>


<%= link_to 'Edit', edit_factoid_path(@factoid) %> |
<%= link_to 'Back', factoids_path %>