<h2>about <%= @zip %></h2>

<p> The Latitude and Longitude of your zip code are <%= @zip.lat.round(1) %> and <%= @zip.lon.round(1) %>, respectively. </p>

<%= render :partial => 'legislators' %>
<br />
<br />

<% unless @facility_data.nil? %>	
	<% unless @facility_data.keys.first.nil? %>
		<h2> The radius (in miles) of companies shown here is <%= @facility_data[@facility_data.keys.first][:radius].round(1) %>.  The number of comapanies in this radius is <%= @facility_data.keys.size %>.</h2>
		<% @facility_data.each do |name, information| -%>
		<h3> <%= name.titleize %> </h3> 
		<p> This facility is located at Latitude <%= information[:latitude].round(1) %> and Longitude <%= information[:longitude].round(1) %>, <%= information[:distance].round(1) %> miles from the center of this area code.  It releases: </p> 
		<ul> 
			<% information[:chemicals].each do |chemical| -%>
				<li> <%= chemical %> </li>
			<% end -%>
		</ul>
		<% end -%>
	<% else %>
		<p> There are no Facilities in your local area (within 64 miles). </p>
	<% end %>
<% end %>
