<h2 id="subject" class="drill"><%= @label %> <span class="pointer"></span></h2>

<style type="text/css">
  div#entity ul {
    padding-left: 20px !important;
    padding-bottom: 10px !important;
  }
</style>

<div id="entity">
  <%= render :partial => 'list', :object => @entity %>
</div>

<% @back_links.each do |pred,links| %>
  <p>
    <h4><%= pred.sub(/.*[#\/]([^#\/]+)$/,'\1').underscore.titleize %></h4>
    <ul>
    <% links.each do |res| %>
      <li>
        <%= link_to_if((res[:label] or res[:title]), 
                     (res[:label] or res[:title]), :action => 'show', :uri => res[:s]) %>
      </li>
    <% end %>
    </ul>
  </p>
<% end %>

<% content_for :sidebar do %>
<div class="more_we_know">
  <h3>Download:<span class="pointer"></span></h3>
  <ul>
    <li><%= link_to 'Download as RDF', :format => 'rdf', :uri => @uri %></li>  
    <li><%= link_to 'Download as JSON', :format => 'json', :uri => @uri %></li>  
  </ul>
</div>
<% end %>
