<div id="sidebar">
  <div class="subwrap">
    <% if @location %>
      <% if @factoid %>
        <div class="more_we_know">
          <h3>More We Know:<span class="pointer"></span></h3>
          <ul>
            <% Factoid.all.each do |f| %>
              <% if f.entity %>
                <li><%= link_to_if f != @factoid, f.entity, factoid_path(f, @location) %></li>
              <% end %>
            <% end %>
          </ul>
        </div><!-- /more_we_know -->
      <% else %>
        <div class="map_widget">
          <div class="subwrap">
            <%= image_tag static_map_url(@location), :alt => @location.to_s %>
          </div>
        </div><!-- /map_widget -->
        <div class="dotrule"></div>
        <% if @location.city_obj %>
          <div class="stats">
            <dl>
              <% @location.city_obj.stats.each do |stat| %>
                <dt><%= stat[:label] %>: </dt>
                <dd>
                  <% if stat[:value] =~ /^[\d\.]+$/ %>
                    <%= number_with_delimiter stat[:value] %>
                  <% else %>
                    <%= stat[:value] %>
                  <% end %>
                </dd>
              <% end %>
            </dl>
          </div>
          <!-- /stats -->
        <% end %>
      <% end %>
      <div class="dotrule"></div>
      <% if nearby = @location.cities_nearby %> 
        <div class="vicinity">
          <h4>Some Cities Nearby</h4>
          <ul>
            <% nearby.each do |city| %>
              <li><%= link_to city.to_s, :controller => 'locations', 
                                         :action => 'search', 
                                         :q => city.to_s %> <%= city.distance.to_i %> mi</li>
            <% end %>
          </ul>
        </div><!-- /vicinity -->
      <% end %>
    <% end %>

    <%= yield :sidebar %>
  </div>
</div><!-- /sidebar -->
<div class="clearer"></div>
