<div id="sidebar">
  <div class="subwrap">
    <% if @location %>
      <div class="map_widget">
        <div class="subwrap">
          <%= image_tag static_map_url(@location), :alt => @location.to_s %>
        </div>
      </div><!-- /map_widget -->
      <div class="dotrule"></div>
      <div class="stats">
        <dl>
          <% if @location.population %>
            <dt>Population:</dt>
            <dd><%= number_with_delimiter @location.population %> people</dd>
          <% end %>
        </dl>
      </div>
      <!-- /stats -->
      <div class="dotrule"></div>
      <% if nearby = @location.cities_nearby %> 
        <div class="vicinity">
          <h4>Cities Nearby</h4>
          <ul>
            <% nearby.each do |city| %>
              <li><%= link_to city.to_s, :controller => 'locations', 
                                         :action => 'search', 
                                         :q => city.to_s %> <%= city.distance.to_i %> mi</li>
            <% end %>
          </ul>
        </div><!-- /vicinity -->
      <% end %>
    <% end %>

    <%= yield :sidebar %>
  </div>
</div><!-- /sidebar -->
<div class="clearer"></div>
