<%# <h2 id="cities_env">Cities / Environment</h2> %>

<div class="first unit_wrap">
  <div class="unit_toprule"></div>
  <div class="first unit">
    <h3>Least <%= link_to 'Toxins', location_path(@least_toxins.first.city.location) %>:</h3>
    <div class="subwrap">
      <%= link_to image_tag('homepage/homepg_least_toxins.jpg', :alt => 'least toxins'),
               location_path(@least_toxins.first.city.location) %>
      <ol>
        <% @least_toxins.each do |fr| %>
          <li><%= link_to fr.city.location, location_path(fr.city.location) %></li>
        <% end %>
      </ol>
    </div>
    <div class="source">Source: <%= @toxins_factoid.source %></div>
  </div>
</div>

<div class="unit_wrap">
  <div class="unit_toprule"></div>
  <div class="first unit">
    <h3>Most <%= link_to "Nomadic", location_path(@most_nomadic.first.city.location) %>:</h3>
    <div class="subwrap">
      <%= link_to image_tag('homepage/homepg_most_moving_in.jpg', :alt => 'most nomadic'),
                    location_path(@most_nomadic.first.city.location) %>
      <ol>
        <% @most_nomadic.each do |fr| %>
          <li><%= link_to fr.city.location, location_path(fr.city.location) %></li>
        <% end %>
      </ol>
    </div>
    <div class="source">Source: <%= @nomad_factoid.source %></div>
  </div>
</div>
<!-- /unit_wrap -->

<div class="unit_wrap">
  <div class="unit_toprule"></div>
  <div class="first unit">
    <h3>Lowest <%= link_to "Unemployment", location_path(@lowest_unemployment.first.city.location) %>:</h3>
    <div class="subwrap">
      <%= link_to image_tag('homepage/homepg_lowest_jobless.jpg', :alt => 'least crime'),
                  location_path(@lowest_unemployment.first.city.location) %>
      <ol>
        <% @lowest_unemployment.each do |fr| %>
          <li><%= link_to fr.city.location, location_path(fr.city.location) %></li>
        <% end %>
      </ol>
    </div>
    <div class="source">Source: <%= @unemployment_factoid.source %></div>
  </div>
</div>

<div class="clearer"></div>

<%#
  <h2 id="cities_health">Cities / Health</h2>
%>

<div class="first health unit_wrap">
  <div class="unit_toprule"></div>
  <div class="first unit">
    <h3>Most <%= link_to "Toxins", location_path(@most_toxins.first.city.location) %>:</h3>
    <div class="subwrap">
      <%= link_to image_tag('homepage/homepg_most_toxins.jpg', :alt => 'most toxins'),
                    location_path(@most_toxins.first.city.location) %>
      <ol>
        <% @most_toxins.each do |fr| %>
          <li><%= link_to fr.city.location, location_path(fr.city.location) %></li>
        <% end %>
      </ol>
    </div>
    <div class="source">Source: <%= @toxins_factoid.source %></div>
  </div>
</div>

<div class="health unit_wrap">
  <div class="unit_toprule"></div>
  <div class="first unit">
    <h3>Most <%= link_to "Cancer", location_path(@most_cancer.first.city.location) %>:</h3>
    <div class="subwrap">
      <%= link_to image_tag('homepage/homepg_highest_cancer.jpg', :alt => 'least crime'),
                  location_path(@most_cancer.first.city.location) %>
      <ol>
        <% @most_cancer.each do |fr| %>
          <li><%= link_to fr.city.location, location_path(fr.city.location) %></li>
        <% end %>
      </ol>
    </div>
    <div class="source">Source: <%= @cancer_factoid.source %></div>
  </div>
</div>

<div class="health unit_wrap">
  <div class="unit_toprule"></div>
  <div class="first unit">
    <h3>Highest <%= link_to "Unemployment", location_path(@highest_unemployment.first.city.location) %>:</h3>
    <div class="subwrap">
      <%= link_to image_tag('homepage/homepg_highest_jobless.jpg', :alt => 'least crime'),
                  location_path(@highest_unemployment.first.city.location) %>
      <ol>
        <% @highest_unemployment.each do |fr| %>
          <li><%= link_to fr.city.location, location_path(fr.city.location) %></li>
        <% end %>
      </ol>
    </div>
    <div class="source">Source: <%= @unemployment_factoid.source %></div>
  </div>
</div>

<div class="clearer"></div>

<% content_for :sparql do %>
  <p>
    <b>This We Know's mission</b> is to increase the visibility of data collected by the U.S. Goverment. We plan to model the entire <a href="http://data.gov">data.gov</a> catalog in an ontology with all the data accessible in an <a href="http://en.wikipedia.org/wiki/Resource_Description_Framework" title="Resource Description Framework">RDF</a> database.
  </p>
<% end %>
