<h2>Annotations on <%= params[:uri] %></h2>

<h3>Attributes</h3>
<ul>
  <% @attributes.each do |a| %>
    <li><%= button_to 'x', :action => 'remove_annotation', :t => 'attribute', :uri => params[:uri], :p => a %> <%= a %></li>
  <% end %>
</ul>
<br/>
<% form_tag :action => 'add_annotation', :method => :post do %>
  <p>
    <%= hidden_field_tag 'uri', params[:uri] %>
    <%= hidden_field_tag 't', 'attribute' %>
    Predicate URI: <%= text_field_tag 'p' %>
    <%= submit_tag 'Add Attribute' %>
  </p>
<% end %>

<h3>Belongs To</h3>
<ul>
  <% @belongs_to.each do |a| %>
    <li><%= button_to 'x', :action => 'remove_annotation', :t => 'belongsTo', :uri => params[:uri], :p => a %> <%= a %></li>
  <% end %>
</ul>
<br/>
<% form_tag :action => 'add_annotation', :method => :post do %>
  <p>
    <%= hidden_field_tag 'uri', params[:uri] %>
    <%= hidden_field_tag 't', 'belongsTo' %>
    Predicate URI: <%= text_field_tag 'p' %>
    <%= submit_tag 'Add belongsTo' %>
  </p>
<% end %>


<h3>Data Example</h3>
<table>
  <tr>
    <th>s</th>
    <th colspan="3">p</th>
    <th>o</th>
  </tr>
  <% @example.each do |row| %>
    <tr>
      <td><%= link_to row[:s], :controller => 'entities', :action => 'show', :uri => params[:uri], :p => row[:s] %></td>
      <td><%= row[:p] %></td>
      <td>
        <%= button_to 'a', :action => "add_annotation", :uri => params[:uri], :p => row[:p], :t => 'attribute', :method => :post %>
      </td>
      <td>
        <%= button_to 'bt', :action => "add_annotation", :uri => row[:p], :t => 'belongsTo', :method => :post %>
      </td>
      </td>
      <td><%= row[:o] %></td>
    </tr>
  <% end %>
</table>
