<h2 id="subject" class="drill"><%= link_to @location, location_path(@location) %> <span class="pointer"></span></h2>

<div class="data_table_toprule"></div>
<div class="data_table_wrap">
  <h3><%= render_sentence(@factoid, @location) %> <%= subtext(@factoid, @location) %></h3>
  <div class="subwrap">
    <table>
      <thead>
        <tr>
          <% @headings.each do |h| %>
            <th><span><%= h.humanize %></span></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @data.each do |hash| %>
          <tr class="<%= cycle('','alt') %>">
            <% @headings.each do |keyname| %>
              <% if hash[keyname.to_sym][0] =~ /\w+/ %>
                <td> <%= link_to hash[keyname.to_sym][0].titleize, :controller => :entities, :action => :show, :uri => hash[keyname.to_sym][1] %> </td>
              <% elsif hash[keyname.to_sym][0].blank? %>
                <td></td>
              <% else %>
                <td> <%= number_with_delimiter hash[keyname.to_sym][0].to_f %> </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if @factoid.source %>
    <div class="source">
      Source: <%= @factoid.source %>
    </div>
  <% end %>
</div><!-- /data_table_wrap -->
<div class="data_table_bottomrule"></div>

<h4>Speak SPARQL?</h4>
<p>
<%= link_to_function 'Show the query that generated this page &raquo;' do |page| 
  page[:sparql_query].toggle
 end %>
</p>
<div id="sparql_query" style="display:none">
  <pre>
    <code>
<%=h Sparql.prefixes.gsub(/^\s*/,'') %>
<%=h word_wrap @factoid.execute_query(@location).sub(/^\s*/,'') %>
    </code>
  </pre>
<p><small><a href="http://www.w3.org/TR/rdf-sparql-query/">SPARQL</a> is an RDF query language ThisWeKnow uses to formulate the information displayed on these pages.</small>
</p>
</div>
