<h2 id="subject" class="drill"><%= link_to @location, location_path(@location) %> <span class="pointer"></span></h2>

<div class="data_table_toprule"></div>
<div class="data_table_wrap">
  <h3><%= render_sentence(@factoid, @location) %>
  <% if @factoid.factoid_type == 'Point' %>
	  <span class="subtext">(within <%= @location.radius %> mi.)</span>
  <% elsif @factoid.radius.to_f == "County" %>	  
  	  <span class="subtext">(in this county)</span>
  <% else @factoid.radius.to_f == "Town" %>	  
  	  <span class="subtext">(in this town)</span>
  <% end %>  
  </h3>
  <div class="subwrap">
    <table>
      <thead>
        <tr>
          <% @headings.each do |h| %>
            <th><span><%= h.humanize %></span></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @data.each do |hash| %>
          <tr>
            <% @headings.each do |keyname| %>
              <% if hash[keyname.to_sym][0] =~ /\w+/ %>
                <td> <%= link_to hash[keyname.to_sym][0].titleize, :controller => :entities, :action => :show, :uri => hash[keyname.to_sym][1] %> </td>
              <% elsif hash[keyname.to_sym][0].blank? %>
                <td></td>
              <% else %>
                <td> <%= number_with_delimiter hash[keyname.to_sym][0].to_f %> </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if @factoid.source %>
    <div class="source">
      Source: <%= @factoid.source %>
    </div>
  <% end %>
</div><!-- /data_table_wrap -->
<div class="data_table_bottomrule"></div>
