<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>This We Know<%= @location and " about #{@factoid ? "#{@factoid.entity} in " : ''}#{@location}" %></title>
    <%= stylesheet_link_tag 'screen' %>
    <%= javascript_include_tag 'prototype' %>
  </head>

  <body class="<%= @body_classes ? @body_classes.join(" ") : 'generic' %>">
    <div id="wrapper">
      <div class="subwrap">
        <div id="header">
          <div class="subwrap">
            <h1><a href="/">This We Know:</a></h1>
            <% if @homepage %>
              <div class="dotrule"></div>
              <div id="tagline">Learn What the U.S. Government Knows About Your Neighborhood.</div>
            <% end %>

            <% form_tag({:controller => 'locations', :action => :search}, :method => :get) do %>
              <label for="primary_search" class="hide">Search:</label>
              <span id="primary_search_wrap">
                <%= text_field_tag 'q', ((@location and "#{@location.city}, #{@location.state}") or 'Enter a Location...'), 
                      :id => "primary_search", :size => 30 %> 
              </span>
              <% javascript_tag do %>
                $('primary_search').observe('focus', function(ev) {
                  if (ev.element().value == 'Enter a Location...') {
                    ev.element().value = '';
                  } 
                });
              <% end %>
              <%= image_submit_tag (@homepage ? 'search_button_lg.png' : 'search_button.png'), 
                    :alt => "Search", :class => "button" %>
            <% end %>
            <% if @examples %>
              <p class="examples">e.g. 
                <%= @examples.map do |ex|
                  "\"#{link_to ex, :controller => 'locations', :action => 'search', :q => ex }\""
                 end.join ", " %>
              </p>
            <% end %>

            <%= link_to "What's This We Know?", {:controller => 'pages', :action => 'about'}, {:id => 'whats_this'} %>
          </div>
        </div><!-- /header -->
        <div id="content">
          <div class="subwrap">
            <%= yield %>
          </div>
        </div><!-- /content -->
        <% if @content_for_sidebar or (@body_classes and @body_classes.include? "two_column") %>
          <%= render :partial => 'shared/sidebar' %>
        <% end %>
      </div>
    </div><!-- /wrapper -->

    <div id="footer">
      <div class="subwrap">
        <ul class="nav">
          <li class="first"><%= link_to 'About Us', :controller => 'pages', :action => 'about' %></li>
          <li><%= link_to 'Contact Us', :controller => 'pages', :action => 'contact' %></li>
        </ul>
        <p id="copyright">This We Know</p>
        <div class="clearer"></div>
      </div>
    </div><!-- /footer -->
    <script type="text/javascript">
        var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
          document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
    </script>
    <script type="text/javascript">
      UserVoice.Tab.show({ 
          key: 'thisweknow',
          host: 'thisweknow.uservoice.com', 
          forum: 'general', 
          alignment: 'left',
          background_color:'#009C00', 
          text_color: 'white',
          hover_color: '#2D7BB2',
          lang: 'en'
      })
    </script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-10142523-1");
        pageTracker._trackPageview();
        } catch(err) {}</script>
  </body>
</html>
