<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>this we know<%= @zip and " about #{@zip}" %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>

    <h1>this we know&hellip;</h1>
    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield %>

  </body>
</html>
